<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/styla.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<header>
  <style>


#bodys {
      font-family: 'Open Sans', sans-serif;
      
    background-image:url('../uploads/bimagesss.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .container-fluid {
        margin: 20px 0px 20px;
    }

    

    .orangefont {
        color: #ffc107;
    }

    .btn {
        margin: 5px;
    }

    .card {
        margin-bottom: 10px;
    }

    .top-row .card {
        margin-bottom: 10px;
        /* margin-top: 10px; */
        height: 100%;
    }

    .top-row {
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .orangediv1,
    .orangediv {
        background-color: #ffc107;
        color: white;
    }

    .buttonasign {
        justify-content: center;
        display: flex;
    }

    .no-left-padding {
        padding-left: 0px !important;
    }
</style>

</header>


  <body id="bodys">

    <% include ./navis %>

    <div class="section-form">
      <% include ./partials/messages %>
                                  
      <% if ( success_messages !='' ) { %>
        <div class="alert alert-success" >
            <strong><%= success_messages %> </strong>
        </div>
        <% } %>
    
            <form  action="/edit-profile" method="post">
              <div class="intro"> 
                <!--
                <h1><span style="float: left;" >ttttttt</span>Register</h1>-->
                <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;">Edit Profile</h1>
                <% data.forEach(function(item) { %>  
             <input type="text" id="fname" value="<%= item.fname %>" placeholder="First Name" name="fname" tabindex="1" required/>
              <input type="text" id="lname" value="<%= item.lname %>" placeholder="Last Name " name="lname" tabindex="2" required/>
              <input type="text" id="addy" value="<%= item.address %>" placeholder="Address " name="addy" tabindex="3" required/>
              <input type="text" id="city" value="<%= item.city %>" placeholder="City" name="city" tabindex="5" required/>
              <input type="text" id="state" value="<%= item.state %>" placeholder="State" name="state" tabindex="7" required/>
              <input type="text" id="country" value="<%= item.country %>" placeholder="Country" name="country" tabindex="7" required/>
              <input type="text" id="phone" value="<%= item.phone %>" placeholder="Phone Number " name="phone" tabindex="8" required/>
              <input type="email" id="email" value="<%= item.email %>" placeholder="Email" name="email" tabindex="9" required/>
              <% }); %> 

              <button id="register" type="submit" style="background-color: green;"  class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
            </main>
        </div>


<!-- Disable login if necessary
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script>
$('#lname, #fname, #bname, #city, #state, #country, #phone, #email, #pass1, #pass2').bind('change', function() {
    if(allFilled()) $('#register').removeAttr('disabled');
    else{$('#register').prop("disabled", true);}
});

function allFilled() {
    var filled = true;
    $('body input').each(function() {
        if($(this).val() == '') filled = false;
    });
    return filled;
}
</script>

-->

   

   

</br>


<section style="background-color: rgb(27, 27, 27);" id="contact">
    <div  class="container">
        <a href="#"><h4 style="margin: 0;">cantact us</h4></a>
        <p style="margin: 0;">451 awenve 5th street new york city</p>
        <p style="margin: 0;">+ (42) 442 4521</p>
        <p style="margin: 0;">info.fashion@gmail.com</p>
        
<a  href="#" ><h4>Read About us</h4></a>
</div>
</section>
<footer>
    <p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2017 all right recived </p>
    <p>privacy policy</p>
    <p>license</p>
</footer>

</body>
</html>