<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<style>
  
    body{
    background: -webkit-linear-gradient(left, #e8e7ee, #a5a5a5);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 14px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
    font-size: 15px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

@media screen and (max-width: 600px) {
    .col-md-8  {
    display: none;
  }
}

@media screen and (max-width: 600px) {
    .nav-item  {
    display: none;
  }
}


</style>

<% include ./partials/messages %>

<% if ( success_messages !='' ) { %>
  <div class="alert alert-success" >
      <strong><%= success_messages %> </strong>
  </div>
  <% } %>

  <% include ./navis %>

<body>

    <% data.forEach(function(item) { %>
        <div class="container emp-profile">
                    <form method="post">
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="profile-img">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                    <div class="file btn btn-lg btn-primary">
                                        Change Photo
                                        <input type="file" name="file"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="profile-head">
                                    
                                            <h5>
                                                <%= item.fname %>  <%= item.lname  %>
                                            </h5>
                                            <h6>
                                                <%= item.cust_type %>
                                            </h6>
                                        <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->   
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                        </li>
                                        <!--
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                        </li>
                                        -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a name="btnAddMore" class="profile-edit-btn" href="/edit-profile">Edit Profile</a>
                               
                            </div>
                        </div>
                        <div class="row">
                            <%if (status == 'buyer') { %>
                            <div class="col-md-4">
                                <div class="profile-work">
                                    <p style="font-size: 15px;">Puchase History Links</p>
                                    <a href="/profile/shipped">Shipped Products</a><br/>
                                    <a href="/profile/unshipped">Not Shipped Products</a><br/>
                                  <br/>
                                </div>
                            </div>
                            <% } %>
        
                            <%if (status == 'seller') { %>
                                <div class="col-md-4">
                                    <div class="profile-work">
                                        <p>LINKs</p>
                                        <a href="/profile/shipped">View Shipped Products</a><br/>
                                        <a href="/profile/unshipped">View Not Shipped Products</a><br/>
                                       
                                        <br/>
                                    </div>
                                </div>
                                <% } %>
        
        
                            <div  class="col-md-8">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p> <%= item.fname  %>  <%= item.lname  %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p> <%= item.email %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Phone</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p> <%= item.phone %></p>
                                                    </div>
                                                </div>
        
                                    </div>
                                    <!--
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Experience</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Expert</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Hourly Rate</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>10$/hr</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Total Projects</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>230</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>English Level</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>Expert</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Availability</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>6 months</p>
                                                    </div>
                                                </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Your Bio</label><br/>
                                                <p>Your detail description</p>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        
                    </form>           
                </div>
                <% }); %>  

                <section style="background-color: rgb(27, 27, 27);" id="contact">
                    <div  class="container">
                        <a href="#"><h4 style="margin: 0;">cantact us</h4></a>
                        <p style="margin: 0;">451 awenve 5th street new york city</p>
                        <p style="margin: 0;">+ (42) 442 4521</p>
                        <p style="margin: 0;">info.fashion@gmail.com</p>
                        
                <a  href="#" ><h4>Read About us</h4></a>
                </div>
                </section>
                <footer>
                    <p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2020 all right recived </p>
                    <p>privacy policy</p>
                    <p>license</p>
                </footer>
    
</body>
</html>





  
